# Data Exploration

Proper exploratory analysis is about answering questions. Exploratory data analysis was promoted by John Tukey to encourage statisticians to explore the data, and possibly formulate hypotheses that could lead to new data collection and experiments

Exploratory analysis helps you "get to know" the dataset. Doing so upfront will make the rest of the project much smoother, in 3 main ways:

* You’ll gain valuable hints for Data Cleaning (which can make or break your models).
* You’ll think of ideas for Feature Engineering (which can take your models from good to great).
* You’ll get a "feel" for the dataset, which will help you communicate results and deliver greater impact.
***source:https://elitedatascience.com/exploratory-analysis***

In [2]:
eda_df = pd.read_csv('../input/eda_data.csv',index_col=0)

In [3]:
eda_df.set_index('UNIQUE_ID',inplace = True)

In [4]:
eda_df.head()

,COHORT,NATIVE_COLLEGE,GENDER,ETHNICITY,RESIDENCY,AOA_RSNCODE,MothersEd,FathersEd,HS_GPA,PARTNER_SCHOOL,SATRead,SATMath,Churn
UNIQUE_ID,,,,,,,,,,,,,
3512068855,2012,LA,F,TWOMORE,Resident,Acad,5.0,6.0,4.143,No,590.0,580.0,0
27023197,2013,SM,F,WHITE,Non Res,Acad,7.0,6.0,4.000,No,650.0,560.0,0
3470821689,2014,AGR,F,WHITE,Resident,Early,7.0,6.0,4.050,No,480.0,630.0,0
161313321,2014,ENG,M,WHITE,Non Res,Early,NaN,NaN,3.830,No,550.0,700.0,0
3558096629,2014,ENG,M,WHITE,Resident,Acad,6.0,6.0,4.100,No,590.0,660.0,0

In [5]:

churn_mask = eda_df['Churn'] == 1
churn_data = eda_df.loc[eda_df.Churn == 1].copy()
no_churn_data = eda_df.loc[eda_df.Churn == 0].copy()

In [6]:
eda_df.loc[churn_mask].shape[0]

960

In [7]:
no_churn_data.shape[0]

15860

Looking at the representation of colleges for students who did and did not churn.

In [8]:

college_group =pd.pivot_table(eda_df.loc[churn_mask],values = ['Churn'],index = ['NATIVE_COLLEGE'],columns = 'GENDER',aggfunc = sum,margins = True)
college_one_percentage = np.round(college_group*100/college_group.iloc[-1, -1], 1)
college_pass = pd.crosstab(no_churn_data.NATIVE_COLLEGE,no_churn_data.GENDER,margins=True)
college_pass = np.round(college_pass*100/college_pass.iloc[-1, -1], 1)

In [9]:
pd.merge(college_one_percentage,college_pass,'left',on = 'NATIVE_COLLEGE')

/opt/conda/lib/python3.6/site-packages/pandas/core/reshape/merge.py:617: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

                (Churn, F)  (Churn, M)  (Churn, All)     F     M    All
NATIVE_COLLEGE
AGR                   11.7        10.9          22.6  11.5   8.1   19.7
BUS                    4.5         6.7          11.1   6.3   8.0   14.3
DES                    3.4         5.1           8.5   3.6   4.7    8.3
ENG                    5.3        21.9          27.2   6.1  22.7   28.8
LA                     9.0         4.5          13.4  11.3   4.3   15.6
SM                     7.6         9.5          17.1   8.3   5.1   13.4
All                   41.5        58.5         100.0  47.1  52.9  100.0

We merged two pivot tables together to compare the proportions 
of students who churn and who dont churn from their respective 
college. 
Two observations:
 * Out of the students who churn  22.6 percent are from the college of agriculture across the 4 years vs out of the students who do not churn the 19.7 % are from the college of agriculture 
 * Out of the students who churn 17.1 percent are from the college of science and math across the 4 years vs out of the students who do not churn the 13.4 % are from the college of science and math.

Academics

In [10]:
acad_churn =pd.pivot_table(eda_df.loc[churn_mask],index = ['NATIVE_COLLEGE'],values =['HS_GPA','SATRead','SATMath'],aggfunc = 'mean')

acad_pass = pd.pivot_table(no_churn_data , index = ['NATIVE_COLLEGE'],values = ['HS_GPA','SATRead',"SATMath"],aggfunc = 'mean')
acad_pt = pd.merge(acad_churn,acad_pass ,'left',on = "NATIVE_COLLEGE",suffixes=('_churned','_persisted'))

In [11]:
acad_pt.sort_index(axis =1)

,HS_GPA_churned,HS_GPA_persisted,SATMath_churned,SATMath_persisted,SATRead_churned,SATRead_persisted
NATIVE_COLLEGE,,,,,,
AGR,3.565804,3.713578,581.805556,589.720167,571.064815,571.672026
BUS,3.672276,3.849007,630.560748,639.202481,591.495327,599.747452
DES,3.761646,3.816641,625.696203,646.213292,601.518987,597.318393
ENG,3.812691,3.975567,662.769231,688.327097,609.423077,625.939701
LA,3.648904,3.768917,569.140625,597.828201,588.203125,601.393841
SM,3.721541,3.892869,621.666667,636.666667,578.703704,597.026390

Across the board with the exclusion of students from the college of Design (SATREAD_churned vs SATRead_persisted) academic attributes tend to be lower for individuals who churn.

Parents Education

In [12]:
fathers_churn = churn_data.groupby(['NATIVE_COLLEGE','ETHNICITY'])['FathersEd'].mean().unstack('ETHNICITY').fillna(0)
fathers_churn

ETHNICITY,AMIND,ASIAN,BLACK,DECLINE,HISPA,TWOMORE,WHITE
NATIVE_COLLEGE,,,,,,,
AGR,0.0,4.800000,5.666667,5.142857,4.482759,3.428571,5.297872
BUS,0.0,4.631579,4.000000,5.666667,4.250000,6.571429,5.457627
DES,6.0,5.000000,4.000000,3.000000,3.266667,5.000000,5.695652
ENG,5.5,4.730159,4.857143,6.100000,3.302326,6.000000,5.881356
LA,0.0,4.428571,4.750000,5.000000,3.647059,4.600000,5.414286
SM,7.0,4.190476,5.200000,0.000000,3.625000,5.000000,5.522222

In [13]:
fathers_pass = no_churn_data.groupby(['NATIVE_COLLEGE','ETHNICITY'])['FathersEd'].mean().unstack('ETHNICITY').fillna(0)
fathers_pass

ETHNICITY,AMIND,ASIAN,BLACK,DECLINE,HISPA,TWOMORE,WHITE
NATIVE_COLLEGE,,,,,,,
AGR,4.823529,5.246575,4.800000,5.407895,4.165625,5.186603,5.555556
BUS,5.625000,5.039660,5.250000,6.000000,4.056701,5.546875,5.773305
DES,5.400000,5.039648,5.307692,5.190476,3.816092,5.674157,5.840220
ENG,5.333333,5.091216,5.250000,5.718750,3.797101,5.510460,5.872824
LA,5.307692,5.323276,4.523810,5.705882,4.498024,5.459770,5.750000
SM,5.416667,4.942529,4.444444,5.677966,4.104762,5.585987,5.715918

In [14]:
from matplotlib.pyplot import figure
figure(figsize = (20,20))

for i,col in enumerate(fathers_churn.columns):
    plt.subplot(14,2,i+1)
    plt.bar(fathers_churn.index,fathers_churn[col], align='center',label='churned')
    plt.bar(fathers_pass.index,fathers_pass[col],align='center',label = 'persisted')
    plt.title('Education of '+ ' father across colleges for student of ethncity '+col.lower())
    plt.ylabel('Level of Education')
    plt.tight_layout()
    ax = plt.gca()
    handles, labels = ax.get_legend_handles_labels()
    plt.legend(handles, labels, loc='upper center',bbox_to_anchor=(1, 0.5))

NameError: name 'plt' is not defined

Some observations: include the presence of outliers... the average fathers education for students of a certain ethnicity who churned was occassionally higher than the average fathers education for students who persisted.

In [15]:
eda_df.ETHNICITY.value_counts()

WHITE      10773
ASIAN       2436
HISPA       1800
TWOMORE     1098
DECLINE      468
BLACK        170
AMIND         74
Name: ETHNICITY, dtype: int64

In [16]:
mothers_churn = churn_data.groupby(['NATIVE_COLLEGE','ETHNICITY'])['MothersEd'].mean().unstack('ETHNICITY').fillna(0)
mothers_pass = no_churn_data.groupby(['NATIVE_COLLEGE','ETHNICITY'])['MothersEd'].mean().unstack('ETHNICITY').fillna(0)

In [17]:
from matplotlib.pyplot import figure
figure(figsize = (20,20))

for i,col in enumerate(mothers_churn.columns):
    plt.subplot(14,2,i+1)
    plt.bar(mothers_churn.index,mothers_churn[col], align='center',label='churned')
    plt.bar(mothers_pass.index,mothers_pass[col],align='center',label = 'persisted')
    plt.title('Education of '+ ' mother across colleges for student of ethncity '+col.lower())
    plt.ylabel('Level of Education')
    plt.tight_layout()
    ax = plt.gca()
    handles, labels = ax.get_legend_handles_labels()
    plt.legend(handles, labels, loc='upper center',bbox_to_anchor=(1, 0.5))

NameError: name 'plt' is not defined

Some observations: include the presence of outliers .. the average mothers education for students of a certain ethnicity who churned was occassionally higher than the average mothers education for students who persisted.